<ion-header>
    <ion-toolbar>
      <ion-title text-center>Shopping Cart List</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shopping.jpg"></ion-img>
      <!-- <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic 4 Auth</ion-card-title>
      </ion-card-header> -->
      <ion-card-content>
        <p style="color: white;">Bienvenido a tu aplicacion de listas dinamica preferida!!! </p>
      </ion-card-content>
    </ion-card>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
        <ion-row>
          <ion-col>
            <ion-button color="dark" expand="block" color="dark" (click)="login()">Ingreso</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="tertiary" expand="block" (click)="register()">Registrarse</ion-button>
          </ion-col>
        </ion-row>
    </ion-toolbar>
  </ion-footer>